<html class="dashboard">
<body class="dashboard">
  <div class="container-dash">
    <aside>
      <div class="top">
        <div class="logo-dash">
          <h2><span class="danger">T</span>rackd</h2>
        </div>
        <div class="close" id="close-btn">
          <span><i class="material-icons sharp">close</i></span>
        </div>
      </div>

      <div class="sidebar">
        <a href="">
          <span><i class="material-icons sharp">grid_view</i></span>
          <h3>Dashboard</h3>
        </a>

        <a href="" class="active">
          <span><i class="material-icons sharp">person_outline</i></span>
          <h3>Dashboard</h3>
        </a>

          <a href="">
          <span><i class="material-icons sharp">add</i></span>
          <h3>Add Product</h3>
        </a>
      </div>
    </aside>
    <!-- End of aside -->
    <!-- Beginning main section-->
    <main>
      <h1>Dashboard</h1>
      <div class="date">
        <input type="date">
      </div>
    <!-- Strt of insights -->
      <div class="insights">
      <!-- Start Sales -->
        <div class="sales">
          <span><i class="material-icons sharp">analytics</i></span>
          <div class="middle">
            <div class="left">
              <h3>Portfolio Value </h3>
              <h1><%= @total_current_value %></h1>
            </div>
            <div class="progress-dash">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>81%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <!-- End of Sales -->

        <!-- Start Expenses-->
        <div class="expenses">
          <span><i class="material-icons sharp">bar_chart</i></span>
          <div class="middle">
            <div class="left">
              <h3>Total Spent</h3>
              <h1><%= @total_purchase_value %></h1>
            </div>
            <div class="progress-dash">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>81%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
  <!-- End Expenses-->

    <!-- Start Incomes-->
        <div class="income">
          <span><i class="material-icons sharp">stacked_line_chart</i></span>
          <div class="middle">
            <div class="left">
              <h3>Profits/Losses</h3>
              <h1><%=@total_pl  %></h1>
            </div>
            <div class="progress-dash">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>44%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
  <!-- End of Incomes-->
      </div>
      <!-- End of insights -->
  <div class="recent-orders">
    <h2>Cryptocurrency Prices by Market Cap</h2>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Quantity</th>
          <th>Profit/Loss</th>
        </tr>
      </thead>
      <tbody>
        <% @portfolio_assets.each do |pa| %>
          <tr>
            <td><%= pa.asset.name %></td>
            <td>$<%= pa.get_current_price %></td>
            <td class="warning"><%= pa.quantity %></td>
            <td class="primary">$<%= pa.profit_and_loss %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
    </main>
    <!-- End of main section -->

    <!-- START Right side -->
<div class="right">
  <div class="top">
    <button id="menu-btn">
    <span><i class="material-icons sharp">menu</i></span>
    </button>
    <div class="theme-toggler">
      <span class="active"><i class="material-icons sharp">light_mode</i></span>
      <span><i class="material-icons sharp">dark_mode</i></span>
    </div>
    <div class="profile">
      <div class="info">
        <p>Hey, <b>Euclides</b></p>
        <small class="text-muted">Your, portfolio</small>
      </div>
      <div class="profile-dash-photo">
        <%= image_tag "https://mdbootstrap.com/img/new/avatars/2.jpg", :class => "pro-photo" %>
      </div>
    </div>
  </div>

<div class="recent-updates">
  <h2>Recent Updates</h2>
  <div class="updates">
    <div class="update">
      <div class="profile-dash-update-photo">
        <%= image_tag "https://mdbootstrap.com/img/new/avatars/1.jpg", :class => "update-photo" %>
      </div>
      <div class="message">
        <p><b>Viet Vu</b> The Cryptocurrency market is not stable yet. Do not buy it now.</p>
        <small class="text-muted">2 Minutes ago</small>
      </div>
    </div>

    <div class="update">
      <div class="profile-dash-update-photo">
        <%= image_tag "https://mdbootstrap.com/img/new/avatars/4.jpg", :class => "update-photo" %>
      </div>
      <div class="message">
        <p><b>Jenny Smith</b> The Cryptocurrency market is not stable yet. Do not buy it now.</p>
        <small class="text-muted">2 Minutes ago</small>
      </div>
    </div>

     <div class="update">
      <div class="profile-dash-update-photo">
        <%= image_tag "https://mdbootstrap.com/img/new/avatars/3.jpg", :class => "update-photo" %>
      </div>
      <div class="message">
        <p><b>Chhomtythya</b> The Cryptocurrency market is not stable yet. Do not buy it now.</p>
        <small class="text-muted">2 Minutes ago</small>
      </div>
    </div>

  </div>
</div>
  <!-- End of updates update -->
  <div class="sales-analytics">
    <h2>Market movements</h2>
    <div class="item online">
      <div class="icon">
        <span><i class="material-icons sharp">insights</i></span>
      </div>
      <div class="right">
        <h3>SHOWING LINE CHART</h3>
        <small class="text-muted">Last 24 Hours</small>
      </div>
      <h5 class="success">+39%</h5>
      <h3>Your P/L: 3849</h3>
    </div>


    <div class="item offline">
      <div class="icon">
        <span><i class="material-icons sharp">bar_chart</i></span>
      </div>
      <div class="right">
        <h3>SHOWING BAR CHART</h3>
        <small class="text-muted">Last 24 Hours</small>
      </div>
      <h5 class="danger">-100%</h5>
      <h3>Your P/L: -9000</h3>
    </div>

      <div class="item customer">
      <div class="icon">
        <span><i class="material-icons sharp">person</i></span>
      </div>
      <div class="right">
        <h3>SHOWING Your P/L</h3>
        <small class="text-muted">Last 24 Hours</small>
      </div>
      <h5 class="danger">-10%</h5>
      <h3>Your P/L: 9000</h3>
    </div>

   <div class="item add-product">
      <div>
        <span><i class="material-icons sharp">add</i></span>
        <h3>Showing your crypto</h3>
      </div>
    </div>

  </div>

  </div>
  <!-- Start sales analytics -->

</div>
    <!-- End of right side -->
  </div>

<!-- Javascript-->
<script>
  const sideMenu = document.querySelector("aside");
  const menuBtn = document.querySelector("#menu-btn");
  const closeBtn = document.querySelector("#close-btn");
  const themeToggler = document.querySelector(".theme-toggler");

  menuBtn.addEventListener('click', () => {
    sideMenu.style.display = 'block';
  })

  closeBtn.addEventListener('click', () => {
    sideMenu.style.display = 'none';
  })

  themeToggler.addEventListener('click', () => {
    document.body.classList.toggle('dark-theme-variables');

    themeToggler.querySelector('span:nth-child(1)').classList.toggle('active');
    themeToggler.querySelector('span:nth-child(2)').classList.toggle('active');
  })



</script>

<!-- -->

</body>
