 <%= turbo_frame_tag :feed  do %>

 <!-- Strt of insights -->
      <div class="insights">
      <!-- Start Sales -->
        <div class="sales">
          <span><i class="material-icons sharp">analytics</i></span>
          <div class="middle">
            <div class="left">
              <h3>Portfolio Value </h3>
              <h1><%= @total_current_value %></h1>
            </div>
            <div class="progress-dash">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>81%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <!-- End of Sales -->

        <!-- Start Expenses-->
        <div class="expenses">
          <span><i class="material-icons sharp">bar_chart</i></span>
          <div class="middle">
            <div class="left">
              <h3>Total Spent</h3>
              <h1><%= @total_purchase_value %></h1>
            </div>
            <div class="progress-dash">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>81%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
  <!-- End Expenses-->

    <!-- Start Incomes-->
        <div class="income">
          <span><i class="material-icons sharp">stacked_line_chart</i></span>
          <div class="middle">
            <div class="left">
              <h3>Profits/Losses</h3>
              <h1><%=@total_pl  %></h1>
            </div>
            <div class="progress-dash">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>44%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
  <!-- End of Incomes-->
      </div>
      <!-- End of insights -->
  <div class="recent-orders">
    <h2>Cryptocurrency Prices by Market Cap</h2>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Quantity</th>
          <th>Profit/Loss</th>
        </tr>
      </thead>
      <tbody>
        <% @portfolio_assets.each do |pa| %>
          <tr>
            <td><%= pa.asset.name %></td>
            <td>$<%= pa.get_current_price %></td>
            <td class="warning"><%= pa.quantity %></td>
            <td class="primary">$<%= pa.profit_and_loss %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
