<h1>Create your new portfolio!</h1>


<%= form_with method: :get, model: @portfolio, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find asset"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% if !@assets.nil? %>
<%= @assets["data"].first["symbol"] %>
<%end %>
<%= @error %>
