<div class="container">
      <div class="portfolio">
        <%= @portfolio.name %>
        <%= form_with method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find asset"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Profit/Loss</th>
    </tr>
  </thead>
  <tbody>
    <% @portfolio_assets.each do |pa| %>
      <tr>
       <td><%= pa.asset.name %></td>
        <td>$<%= pa.get_current_price %></td>
        <td><%= pa.quantity %></td>
        <td>$<%= pa.profit_and_loss %></td>
      </tr>
    <% end %>
  </tbody>
</table>

        <% if @assets %>
          <%= @asset_name %>
          <%= @asset_price %>
          <%= simple_form_for([@portfolio, @portfolio_asset]) do |f|  %>
          <%= f.input :quantity %>
          <%= f.hidden_field "asset_id", value: @asset.id %>
          <%= f.hidden_field "purchase_price", value: @asset_price %>
          <%= f.submit :submit, class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= @message %>
        <% end %>
      </div>
    </div>
  </div>
</div>
