  <nav class="nav-bar">
    <div class="container">
      <ul class="d-flex align-items-center justify-content-between py-2" style="margin-left: -2rem; margin-right: -2rem;">
        <li class="d-inline-block">
          <%= link_to root_path do %>
            <%= image_tag "TRACKD", class: "nav-link" %>
          <% end %>
        </li>
        <div class="hamburger" id="mobile">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
        <ul id="desktop">
          <% if current_user %>
            <li class="d-inline-block"><%= link_to "Dashboard", dashboard_path, class: "btn" %></li>
            <li class="d-inline-block"><%= link_to "New Portfolio",  new_portfolio_path, class: "btn" %></i>
            <li class="d-inline-block"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn" %></li>
          <% else %>
            <li class="d-inline-block"><%= link_to "Log in", new_user_session_path, class: "btn" %></li>
            <li class="d-inline-block"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-signup", style: "margin-right: 1rem" %></li>
          <% end %>
        </ul>
        </div>
      </ul>
    </div>
  </nav>


<!--
<div class="logo-img mt-5 rounded"><%= image_tag "T_logo-fullwhite", :style => "border-radius: 20%; width: 40px"%></div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "T_logo-fullwhite" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
-->
