<body>
  <div class="container d-flex justify-content: space-around;">
    <div class="float-child">
      <div class="row">
        <h1>The easist way</h1>
      </div>
      <div class="row">
        <h1>to track your
      </div>
      <div class="row2">
        <h2>portfolio</h2>
      </div>
      <div class="row3 col-sm-6">
        <p>Easily track your cryptocurrency and stock portfolio with real-time updates. Try it out and see the difference it can make.</p>
      </div>
    </div>
    <%# picture banner %>
    <div class="float-child">
      <div class="card4">
      <%= image_tag "Crypto" %>
      </div>
    </div>
  </div>

<%# form banner %>
 <%= form_with url: "/users/sign_up", method: :get do |form| %>
    <%= form.label :email, "Email:" %>
    <%= form.text_field :email %>
    <%= form.submit "Get started" %>
  <% end %>

<div class="volatility">
  <div class="assets d-flex justify-content-between">
    <div class="stocks d-flex justify-content-center col-sm-6">
      <div class="stocks-api w-100">
        <h1>TOP 3 CRYPTOS (API)</h1>
        <ul>
  <% @assets[0..2].each do |asset| %>
    <li><%= asset.name%></li>
  <% end %>
</ul>
      </div>
    </div>
    <div class="crypto d-flex justify-content-center col-sm-6">
      <div class="crypto-api w-100">
        <h1>TOP 3 STOCKS (API)</h1>
        <% @assets[0..2].each do |asset| %>
    <li><%= asset.name%></li>
  <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="news row d-flex justify-content-center">
    <h1>TRENDING NEWS</h1>
      <div class="trending-news d-flex justify-content-center col-sm-10" >
        <% @marketaux_hash["data"].each do |news_item_hash| %>
          <div class="newsapi col-6 col-md-4">
            <h1><%= news_item_hash["title"] %></h1>
            <p><%= news_item_hash["description"] %><p>
            <%= link_to "See more", news_item_hash["url"] %>
            <%= image_tag news_item_hash["image_url"], width: 100, class: 'w-100' %>
          </div>
        <% end %>
      </div>
  </div>

<div class="device">
  <h1>Your portfolio in all kind of devices</h1>
</div>

<%= form_with method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find asset"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</body>
