<body class="homepage">
  <div class="homepage">
  <div class="container d-flex justify-content: space-around;">
    <div class="float-child">
      <div class="row">
        <h1>The easist way</h1>
      </div>
      <div class="row">
        <h1>to track your
      </div>
      <div class="row2">
        <h2>portfolio</h2>
      </div>
      <div class="row3 col-sm-6">
        <p>Easily track your cryptocurrency and stock portfolio with real-time updates. Try it out and see the difference it can make.</p>
      </div>
    </div>
    <%# picture banner %>
    <div class="float-child">
      <div class="card4">
      <%= image_tag "Crypto" %>
      </div>
    </div>
  </div>

    <!-- Norong search funcs-->
<!-- <main class="container home-search"> -->
<!--
 <form action="" class="search-form">
   <div class="input-container">
      <input type="text" id="cryptoSearch" class="crypto-search">
      <img src="./assets/search.png" alt="">
    </div>
</form>
-->
<section class="p-5 bg-dark text-light" id="crypto">
<div class="wrapper">
  <div class="search-area">
    <div class="single-search">
      <input class="custom-input" type="text" name="" placeholder="What are you looking for ...">
      <a href="#" class="icon-area"><i class="fa fa-search"></i></a>
    </div>
  </div>
</div>
</section>


<!--</main> -->
  <!-- End Norong search funcs-->

<!--
<section class="search bg-primary text-light p-5">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">Search&nbsp;</h3>
        <div class="input-group news-input">
           <input type="text" class="form-control" placeholder="Enter your crypto symbol" >
          <button class="btn btn-dark btn-lg" type="button">Search</button>
        </div>
      </div>
    </div>
  </section>
-->
    <!-- Search table-->

<!-- Table Crypto API-->
<section class="p-5 bg-dark text-light" id="crypto">
<h2>Top 5 Crypto Currency</h2>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row ">
      <div class="p-5">
        <div class="cryto-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbold</th>
          <th>Current Price</th>
          <th>Market Cap</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Bitcoin</td>
        <td>ETH</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

            <tr>
        <td>ETH</td>
        <td>Ethereum</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

            <tr>
        <td>Tether</td>
        <td>USDT</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

      <tr>
        <td>BNB</td>
        <td>BNB</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

      <tr>
        <td>USD</td>
        <td>Coin</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
        <a href="" class="btn btn-light mt-3">
          <i class="bi bi-chevron-right"></i>Read more
        </a>
      </div>
    </div>
  </div>
</section>
  <!-- End of Table API-->

  <section class="p-5 bg-light text-dark" id="crypto">
<h2>Top 5 Stock Market</h2>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row ">
      <div class="p-5">
        <div class="cryto-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbold</th>
          <th>Current Price</th>
          <th>Market Cap</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Bitcoin</td>
        <td>ETH</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

            <tr>
        <td>ETH</td>
        <td>Ethereum</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

            <tr>
        <td>Tether</td>
        <td>USDT</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

      <tr>
        <td>BNB</td>
        <td>BNB</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

      <tr>
        <td>USD</td>
        <td>Coin</td>
        <td>$160000</td>
        <td class="warning">Loading</td>
        <td class="primary">Market description</td>
      </tr>

      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
        <a href="" class="btn btn-light mt-3">
          <i class="bi bi-chevron-right"></i>Read more
        </a>
      </div>
    </div>
  </div>
</section>
  <!-- End of Table API-->


    <!-- End of search table-->



<div class="volatility">
  <div class="assets d-flex justify-content-between">
    <div class="stocks d-flex justify-content-center col-sm-6">
      <div class="stocks-api w-100">
        <h1>Stock Graph in 24h</h1>
        <ul>
  <% @assets[0..2].each do |asset| %>
    <li><%= asset.name%></li>
  <% end %>
</ul>
      </div>
    </div>
    <div class="crypto d-flex justify-content-center col-sm-6">
      <div class="crypto-api w-100">
        <h1>Cryto Graph in 24h</h1>
        <% @assets[0..2].each do |asset| %>
    <li><%= asset.name%></li>
  <% end %>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="news row d-flex justify-content-center">
    <h1>TRENDING NEWS</h1>
      <div class="trending-news d-flex justify-content-center col-sm-10" >
                <% @thenewsapi_hash["data"].first(3).each do |news_item_hash| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag news_item_hash["image_url"], class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= news_item_hash["title"] %></h5>
              <p class="card-text"><%= news_item_hash["description"] %></p>
              <%= link_to "See more", news_item_hash["url"], class: "btn btn-primary"%>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  -->

  <div class="news">
    <h1>Finance News</h1>
    <div class="row gx-5">
      <div class="col-12 col-lg-8">
        <article class="row gx-3">
          <div class="image col-12 col-md-12 col-lg-6 pr-4">
            <%= image_tag "bitcoinnews.jpg", class: 'w-100' %>
          </div>
          <div class="news-text col-12 col-md-12 col-lg-6 pr-4">
            <h5 class="fnews-title">Bitcoin Price and Ethereum Prediction: BTC Network's Mining Difficulty Rises to All-Time High</h5>
            <p class="fnews-text">Bitcoin (BTC) and Ethereum (ETH), the world's two most popular digital currencies, maintained their lengthy upward trend and surpassed highs of $21,000 and $1,500, respectively. The mining difficulty of the Bitcoin network has recently reached an all-time high, making it more difficult for miners to make a profit.</p>
            <a href="https://cryptonews.com/news/bitcoin-price-and-ethereum-prediction-btc-networks-mining-difficulty-rises-to-all-time-high.htm">See more</a>
          </div>
        </article>

        <article class="row gx-3">
          <div class="image col-12 col-md-12 col-lg-6 pr-4">
            <%= image_tag "blockchain.jpg", class: 'w-100' %>
          </div>
          <div class="news-text col-12 col-md-12 col-lg-6 pr-4">
            <h5 class="fnews-title">Hive Blockchain Shares Are Up 100% YTD, Deploys Intel’s Blockscale Chip For Bitcoin Mining Machines</h5>
            <p class="fnews-text">The shares of Bitcoin mining firm HIVE are up more than 100% year-to-date, while it just recently deployed its first machines based on Intel's Blockscale chips.</p>
            <a href="https://cryptonews.com/news/hive-blockchain-shares-are-up-100-ytd-deploys-intels-blockscale-chip-for-bitcoin-mining-machines.htm">See more</a>
          </div>
        </article>

        <article class="row gx-3">
          <div class="image col-12 col-md-12 col-lg-6 pr-4">
            <%= image_tag "20k.jpg", class: 'w-100' %>
          </div>
          <div class="news-text col-12 col-md-12 col-lg-6 pr-4">
            <h5 class="fnews-title">Why Crypto Prices Are in For A Strong Week Ahead as Bitcoin Strengthens Above $20k</h5>
            <p class="fnews-text">The Bitcoin price could continue to accelerate higher, after consolidating and showing strength above the $20k level.</p>
            <a href="https://cryptonews.com/news/why-crypto-prices-are-for-strong-week-ahead-as-bitcoin-strengthens-above-20k.htm">See more</a>
          </div>
        </article>
      </div>

      <div class="col-12 col-lg-4">
        <div class="rec row gx-3 mb-4">
          <%= image_tag "15crypto.jpg", class: 'col-6' %>
          <div class="rec-text col-6">
            <h5 class="fnews-title">15+ New Cryptocurrency to Buy in 2023</h5>
            <a href="https://cryptonews.com/news/new-cryptocurrency.htm">See more</a>
          </div>
        </div>

        <div class="rec row gx-3 mb-4">
            <%= image_tag "wallet.jpg", class: 'col-6' %>
            <div class="rec-text col-6">
              <h5 class="fnews-title">South Korean Software Giant AhnLab Unveils Crypto Wallet</h5>
              <a href="https://cryptonews.com/news/south-korean-software-giant-ahnlab-unveils-crypto-wallet.htm">See more</a>
            </div>
          </div>

        <div class="rec row gx-3 mb-4">
          <%= image_tag "sol.jpg", class: 'col-6' %>
          <div class="rec-text col-6">
            <h5 class="fnews-title">Solana Price Shows it is back From the Dead - Can the Resurrection Push Coin 2x to $30?</h5>
            <a href="https://cryptonews.com/news/solana-price-shows-it-is-back-from-the-dead-can-the-resurrection-push-coin-2x-to-31.htm">See more</a>
          </div>
        </div>

        <div class="rec row gx-3 mb-4">
          <%= image_tag "trader.jpg", class: 'col-6' %>
          <div class="rec-text col-6">
            <h5 class="fnews-title">Data breach: Why is it a big threat for crypto traders, and how to prevent it</h5>
            <a href="https://cryptonews.com/news/data-breach-why-it-big-threat-for-crypto-traders-how-prevent-it.htm">See more</a>
          </div>
        </div>

        <div class="rec row mb-4">
          <%= image_tag "elon.jpg", class: 'col-6' %>
          <div class="rec-text col-6">
            <h5 class="fnews-title">Elon Musk Fears Severe US Recession is Coming, Urges the Federal Reserve to Do This to Prevent It</h5>
            <a href="https://cryptonews.com/news/elon-musk-fears-severe-us-recession-coming-urges-federal-reserve-do-prevent-it.htm">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="device">
    <h1>Your portfolio in all kind of devices</h1>
  </div>
</div>

<script>

const list = document.querySelector("#results")

const insertMovies = (data) => {
  data.Search.forEach((result) => {
    const movieTag = `<li class="list-group-item border-0">
      <img src="${result.Poster}" alt="" width="100">
    </li>`
    list.insertAdjacentHTML("beforeend", movieTag)
  })
}

const fetchMovies = (query) => {
  fetch(`http://www.omdbapi.com/?s=${query}&apikey=adf1f2d7`)
    .then(response => response.json())
    .then(data => insertMovies(data))
}

fetchMovies("") // on 1st page load

const form = document.querySelector(".search-form")
form.addEventListener("keyup", (event) => {
  event.preventDefault()
  list.innerHTML = ""
  const input = document.querySelector(".crypto-search")
  fetchMovies(input.value)
})

</script>
</body>
