<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_with method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find asset"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <% @market_cap_ticker["data"].each do |ticker| %>
    <% if @symbol == ticker["symbol"] %>
      <%= ticker["name"] %> : <%= ticker["symbol"]  %><br>
      Rank: <%= ticker["cmc_rank"] %> <br>
      price: USD
        <% ticker["quote"].each  do |x|%>
          <% x.each do |y| %>
            <%= y["price"] %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
  <%= @stock_ticker %>
