<div class="homepage">
  <%= form_with method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find asset"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <% if !@assets.nil? %>
  <%= @assets["data"] %>
  <%end %>
  <%= @error %>
  <div class="container d-flex justify-content: space-around;">
    <div class="float-child">
      <div class="row">
        <h1>The easist way</h1>
      </div>
      <div class="row">
        <h1>to track your
      </div>
      <div class="row2">
        <h2>portfolio</h2>
      </div>
      <div class="row3 col-sm-6">
        <p>Easily track your cryptocurrency and stock portfolio with real-time updates. Try it out and see the difference it can make.</p>
      </div>
         <form class="row row-cols-lg-auto g-3 align-items-center">
    <%= form_with url: "/users/sign_up", method: :get do |form| %>
        <div class="email-input col-12">
        <%= form.text_field :email, placeholder: "Email address" %>
        </div>
        <div class="col-12">
        <%= form.submit "Get started", class: "btn btn-primary getstarted" %>
        </div>
      <% end %>
    </form>
    </div>
    <%# picture banner %>
    <div class="float-child">
      <div class="card4">
      <%= image_tag "Crypto" %>
      </div>
    </div>
  </div>

<%# form banner %>

<div class="volatility">
  <div class="assets d-flex justify-content-between">
    <div class="stocks d-flex justify-content-center col-sm-6">
      <div class="stocks-api w-100">
        <h1>Trending Cryptos (API)</h1>
        <p>EXAMPLE</p>
        <p>EXAMPLE</p>
        <p>EXAMPLE</p>
        <p>EXAMPLE</p>
        <p>EXAMPLE</p>
      </div>
    </div>
    <div class="crypto d-flex justify-content-center col-sm-6">
      <div class="crypto-api w-100">
        <h1>Trending Stocks (API)</h1>
          <p>EXAMPLE</p>
          <p>EXAMPLE</p>
          <p>EXAMPLE</p>
          <p>EXAMPLE</p>
          <p>EXAMPLE</p>
      </div>
    </div>
  </div>
</div>

  <div class="news row d-flex justify-content-center">
    <h1>TRENDING NEWS</h1>
      <div class="trending-news d-flex justify-content-center col-sm-10" >
        <% @thenewsapi_hash["data"].first(3).each do |news_item_hash| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag news_item_hash["image_url"], class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= news_item_hash["title"] %></h5>
              <p class="card-text"><%= news_item_hash["description"] %></p>
              <%= link_to "See more", news_item_hash["url"], class: "btn btn-primary"%>
            </div>
          </div>
        <% end %>
      </div>
  </div>

<div class="device">
  <h1>Your portfolio in all kind of devices</h1>
</div>

</div>
